.footer{
    background:#000;
    color: #fff;
    padding: 2rem 0;
    height: 25rem;
   
}
.ft-2 link{
   list-style: none;
}

.footer-icon i{
    padding: 0.5rem;  
    background: #f6dede;
    color: red;
    margin: 0 0.5rem;
    border-radius: 50%;
   
}
.base-footer{
    background-color: #a41034;
    color: white;
    text-align: center;
    padding: 0.3rem 0;
}
.base-footer p{
    margin-bottom: 0;

}