/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

} */

/* Login form */

/* .form-container {
    width: 30rem;
    height: 20rem;
    margin: 10rem auto;
    box-shadow: var(--box-shadow);
    overflow-y: hidden;

}

.main {
    
    width: 25rem;
    height: 10rem;
   
}

.input-icons {
  padding: 0.8rem; 
  width: 20rem;
}
.input-field{
    width:15rem;
} */

/* Registration form */
.card-header{
    /* background-color: white; */
}